
ucoinj-core/.project
ucoinj-core/.classpath
.project
ucoinj-core/.settings/org.eclipse.core.resources.prefs
ucoinj-core/.settings/org.eclipse.jdt.core.prefs
ucoinj-core/.settings/org.eclipse.m2e.core.prefs
