<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  SIH-Adagio Core for Allegro
  $Id: applicationContext-conf.xml 12102 2014-05-28 21:04:57Z bl05b3e $
  $HeadURL: https://forge.ifremer.fr/svn/sih-adagio/trunk/adagio/core-allegro/src/main/resources/applicationContext-conf.xml $
  %%
  Copyright (C) 2012 - 2013 Ifremer
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- replace value like '${xx}' with value from configuration -->
   <bean id="webConfiguration" class="io.ucoin.ucoinj.web.config.WebConfiguration"
        factory-method="instance"
        lazy-init="false"> 
      <property name="ignoreUnresolvablePlaceholders" value="true"/>
      <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <bean id="esConfig" class="io.ucoin.ucoinj.elasticsearch.config.Configuration"
        factory-method="instance"
        lazy-init="false"> 
    </bean>

    <bean id="serviceLocator" class="io.ucoin.ucoinj.web.service.ServiceLocator"
          factory-method="instance"
          lazy-init="false">
    </bean>

</beans>